.categoriesButton {
  background: inherit;

  &__icon {
    align-self: flex-end;
    background: inherit;
    cursor: pointer;
    height: 100%;
    svg {
      background: inherit;
      font-size: 0.6rem !important;
    }
  }
}
.categoriesListOpen {
  border-top: 1px solid var(--color-border-menu);
  background: inherit;
  padding: $fixPaddingBlock;
  position: absolute;
  padding: $fixPaddingBlockLg;
  width: 100%;
  left: 0;
  right: 0;
  height: 0 auto;
  display: flex;
  justify-content: space-between;
  li {
    display: flex;
    flex-direction: column;
    background: inherit;
    h6 {
      background: inherit;
    }
    .active {
      color: var(--color-link-hover);
    }
    a {
      background: inherit;
      font-size: 0.5rem;
      &:hover {
        color: var(--color-link-hover);
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
    }
  }
  // -webkit-transition: all 0.5s ease;
  // -moz-transition: all 0.5s ease;
  // transition: all 0.5s ease;
}
.categoriesListClose {
  width: 100%;
  background: inherit;
  // -webkit-transition: all 0.5s ease;
  // -moz-transition: all 0.5s ease;
  // transition: all 0.5s ease;

  li {
    background: inherit;
    font-size: 0;
    a {
      background: inherit;
    }
    h6 {
      background: inherit;
    }
  }
}
