.cartProduct {
  position: relative;
  width: 300px;
  height: 380px;
  margin-top: $fixMarginTop + 15;
  padding: $fixPaddingBlock;
  border: 1px solid var(--color-product-cart-border);
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--color-header-bg);
  border-radius: $fixBorderRadius;
  padding-bottom: $fixPaddingBlock + 10;
  &:hover {
    margin-top: -5px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  &__hit {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: inherit;
    svg {
      background: inherit;
      font-size: 1rem;
      cursor: pointer;
    }
    .active {
      fill: var(--color-button);
    }
    p {
      font-size: 0.5rem;
      align-self: flex-end;
      background: var(--color-warning);
      padding: $fixPaddingBlock;
      border-radius: $fixBorderRadius;
      color: var(--color-main-bg);
    }
  }
  &__images {
    display: flex;
    justify-content: center;
    width: 100%;
    background: inherit;
    padding: $fixPaddingBlock;
    border-bottom: 1px solid var(--color-product-cart-border);
    img {
      height: 150px;
      width: 80%;
    }
  }
  &__info {
    background: inherit;
    &__title {
      background: inherit;
      font-size: 1rem;
    }
    &__price {
      background: inherit;
      font-size: 0.5rem;
      color: var(--color-font-secondary);
    }
  }
  &__button {
    cursor: pointer;
    margin-top: $fixMarginTop;
    font-size: 0.8rem;
    padding: $fixPaddingBlock;
    background: var(--color-button);
    border-radius: $fixBorderRadius;
    color: var(--color-font-main-invercy);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    &:hover {
      background: var(--color-button-hover);
      color: var(--color-button);
      border: 1px solid var(--color-button);
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      transition: all 0.4s ease;
    }
  }
}
// тень
.shadow {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
}
.shadow:before,
.shadow:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  left: 10px;
  right: 10px;
  // -moz-border-radius: 100px / 10px;
  // border-radius: 100px / 10px;
}
.shadow:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}
