[data-theme='ligth'] {
  --color-main-bg: hsl(0, 0%, 95%);
  --color-header-bg: hsl(0, 0%, 100%);
  --color-font-main: hsl(0, 0%, 13%);
  --color-font-main-invercy: hsl(0, 0%, 91%);
  --color-link-hover: hsl(209, 73%, 68%);
  --color-border-menu: rgb(233, 233, 233);
  --color-selection: rgb(104, 206, 231);
  --color-bg-opacity-null: rgba(0, 0, 0, 0);
  --color-bg-opacity-25: rgba(0, 0, 0, 0.25);
  --color-icon-banner: rgb(34, 34, 34);
  --color-font-banner: rgb(0, 0, 0);
  --color-product-cart-border: rgb(211, 211, 211);
  --color-button: hsl(204, 84%, 65%);
  --color-button-hover: hsl(0, 0%, 100%);
  --color-font-secondary: rgb(190, 190, 190);
  --color-warning: rgb(235, 42, 42);
}
