[data-theme='ligth'] {
  --color-main-bg: hsl(0, 0%, 95%);
  --color-header-bg: hsl(0, 0%, 100%);
  --color-font-main: hsl(0, 0%, 13%);
  --color-link-hover: hsl(209, 73%, 68%);
  --color-border-menu: rgb(233, 233, 233);
}
