* {
  background: var(--color-main-bg);
  font-family: Montserrat;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  color: var(--color-font-main);
}
::selection {
  background: var(--color-selection);
}
html {
  font-size: 42px;
}
body {
  width: 100%;
  height: 100vh;
}
#root {
  width: inherit;
  height: inherit;
}
a {
  // -webkit-transition: all 0.4s ease;
  // -moz-transition: all 0.4s ease;
  // transition: all 0.4s ease;
  text-decoration: none;
  &:hover {
    color: var(--color-link-hover);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
}
h1 {
  font-size: 1rem;
}
